md-dialog._md.md-default-theme.md-transition-in(md-theme="default" aria-label="Import" ng-class="dialog.css" role="dialog" tabindex="-1" aria-describedby="dialogContent_16")
  md-dialog-content.md-dialog-content(role="document" tabindex="-1" id="dialogContent_16")
    h2.md-title Import
    div
      a(ng-repeat="extension in importType" ng-click="import(type, extension)")
        img(ng-src="/onlyoffice/images/{{extension}}.png")
