script(src='/onlyoffice/js/rsvp-2.0.4.js')
script(src='/onlyoffice/js/renderjs-latest.js')
script(src='/onlyoffice/js/jio.js')
div(ng-show='!isload')
  .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
onlyoffice-editor(file-extension='fileExtension', ng-show="isload")
