sub-header
  onlyoffice-view-subheader
.col-md-12.subheader-aware
  document-list(ng-show="isCompatible")
  onlyoffice-compatibility(ng-show="!isCompatible")
creation-document(ng-show="isCompatible")
