.iframe {
  margin:0;
  padding:0;
  width:100vw;
  height: ~"calc(100vh - @{header-height} - 3px)";

  @media (min-width: @screen-md-min) {
    height: ~"calc(100vh - @{header-height-md} - 3px)";
  }

  @media (min-width: @screen-xl-min) {
    height: ~"calc(100vh - @{header-height-xl} - 3px)";
  }
}
iframe {
  width: 100%;
  height: 100%;
}
.try-editor-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.try-editor-list li {
    float: left;
    margin: 25px;
}
.try-editor {
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
}

.md-button.md-fab {
  line-height: 0 !important;
}

.word:hover {
  color: #234CA5;
}
.spreadsheet:hover {
  color: #036635;
}
.presentation:hover {
  color: #790000;
}

tags-input .autocomplete {
  position: relative !important;
}
