.try-editor-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.try-editor-list li {
    float: left;
    margin: 25px;
}
.try-editor {
    background-color: transparent;
    background-position: center 0;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
}
