md-dialog._md.md-default-theme.md-transition-in(md-theme="default" aria-label="Import" ng-class="dialog.css" flex="50" role="dialog" tabindex="-1" aria-describedby="dialogContent_16")
  md-dialog-content.md-dialog-content(role="document" tabindex="-1" id="dialogContent_16")
    h2.md-title Partage
    users-autocomplete-input(mutable-users='newUsersGroups')
  md-dialog-actions
    button.md-primary.md-cancel-button.md-button.md-default-theme.md-ink-ripple(type="button" ng-click="cancel()")
      span Annuler
      .md-ripple-container
    button.md-primary.md-confirm-button.md-button.md-ink-ripple.md-default-theme(type="button" ng-click="confirm()")
      span Ok
