table.table
  thead
    tr
      th #
      th Nom
      th Date de Création
      th Taille
      th action
  tbody
    infinite-list(load-more-elements='loadMoreElements()')
      tr(ng-repeat="document in elements track by $index" ng-if="elements.length > 0")
        td {{$index + 1}}
        td {{document.filename}}
        td {{document.uploadDate | date : 'medium'}}
        td {{document.length | bytes}}
        td
          a.md-icon-button.md-button.md-ink-ripple(ng-href="#/office/editor/{{getExtensionfromFileName(document.filename)}}/{{document._id}}", target="_blank")
            i.mdi.mdi-pencil.mdi-18px
            //- ui-sref="editor({fileExt: getExtensionfromFileName(document.filename), fileId: document._id})" 
          button.md-icon-button.md-button.md-ink-ripple(ng-click="showImport(getExtensionfromFileName(document.filename), document)")
            i.mdi.mdi-download.mdi-18px
          button.md-icon-button.md-button.md-ink-ripple(ng-if="document.metadata.creator[0]._id === userId" ng-click="removeDocument(document)")
            i.mdi.mdi-delete.mdi-18px
          button.md-icon-button.md-button.md-ink-ripple(ng-if="document.metadata.creator[0]._id === userId" ng-click="showShare(document._id)")
            i.mdi.mdi-share-variant.mdi-18px
      tr(ng-if="!elements.length && infiniteScrollCompleted")
        td.text-center(colspan="5")
          | Pas de Document
      tr(ng-if='infiniteScrollDisabled')
        td.text-center(colspan="5", openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
